<div class="container">
<h1>Whoopedy fucken doo</h1>
<div class="border border-start-0 my-3">
  <p><%= @question %></p>
  <p>-Mister User ask guestion guy</p>
  </div>

  <div class="border border-start-0 my-3 bg-warning ">
  <p><strong><%= @answer %></strong></p>
  <p>-Your coach</p>
  </div>

</div>
